<!-- Character#choose
 -->
 <div class="container py-5">
  <h1>Welcome to</h1>
  <p ><%= image_tag ("logo_rickandmorty.svg")%></p>
 </div>

<div class="container py-5">
  <h3>Choose your first character_</h3>
</div>


<div class="container">
  <div class="row align-items-start">

    <div class="col">
      <div class="d-flex align-items-start flex-column">
        <p><%= image_tag ("rick.svg")%></p>
      </div>
      <div class="btn btn-primary align-items-center">
       <%= link_to "Rick", characters_path(character: "Rick") %>
      </div>
    </div>


    <div class="col">
      <div>
        <p><%= image_tag ("morty.svg")%></p>
      </div>
      <div class="btn btn-primary">
         <%= link_to "Morty", characters_path(character: "Morty") %>
      </div>
    </div>
  </div>
</div>

