<!-- Character#choose
 -->
 <div class="container py-5">
  <h1>Welcome to</h1>
    <%= image_tag ("logo_rickandmorty.svg")%>
 </div>

<div class="container py-5">
  <h2>Choose your first character_</h2>
</div>

<!-- barre PMU -->
<div class="wrapper">
  <p class="marquee"><span>And then we're gonna go on even more adventures after that, Morty and you're gonna keep your mouth shut about it, Morty, because the world is full of idiots that don't understand what's important, and they'll tear us apart, Morty but if you stick with me, I'm gonna accomplish great things, Morty, and you're gonna be part of them, and together, we're gonna run around, Morty. We're gonna do all kinds of wonderful things, Morty. Just you and me, Morty. The outside world is our enemy, Morty. We're the only friends we've got, Morty. It's just Rick and Morty. Rick and Morty and their adventures, Morty. Rick and Morty forever and forever. Morty's things. Me and Rick and Morty running around, and Rick and Morty time. All day long, forever. All a hundred days. Rick and Morty forever 100 times. Over and over, rickandmortyadventures.com. All 100 years. Every minute, rickandmorty.com.</span></p>
</div>


<div class="container">
  <div class="row">

    <div class="col justify-content-between">
      <div>
        <%= image_tag ("rick.svg")%>
      </div>
      <br>
      <div class="btn btn-primary btn-lg">
       <%= link_to "Rick", characters_path(character: "Rick") %>
      </div>
    </div>


    <div class="col">
      <div>
        <%= image_tag ("morty.svg")%>
      </div>
      <br>
      <div class="btn btn-primary btn-lg">
         <%= link_to "Morty", characters_path(character: "Morty") %>
      </div>
    </div>
  </div>
</div>

