<!-- Character#choose
 -->
 <div class="container py-5">
  <h1>Welcome to</h1>
    <%= image_tag ("logo_rickandmorty.svg")%>
 </div>

<div class="container py-5">
  <h2>Choose your first character_</h2>
</div>


<div class="container">
  <div class="row">

    <div class="col">
      <div>
        <%= image_tag ("rick.svg")%>
      </div>
      <div class="btn btn-primary">
       <%= link_to "Rick", characters_path(character: "Rick") %>
      </div>
    </div>


    <div class="col">
      <div>
        <%= image_tag ("morty.svg")%>
      </div>
      <div class="btn btn-primary">
         <%= link_to "Morty", characters_path(character: "Morty") %>
      </div>
    </div>
  </div>
</div>

