<h1>characters#index</h1>

<h2>Start by choosing your favorite <%= @category %></h2>

<% @characters.each do |character| %>
    <%= character.name %>
    <% if File.file? "#{Rails.root}/app/assets/images/#{character.photo_url}.jpg" %>
      <%= image_tag ("#{character.photo_url}.jpg") %>
    <% elsif File.file? "#{Rails.root}/app/assets/images/#{character.photo_url}.png" %>
      <%= image_tag ("#{character.photo_url}.png") %>
    <% end %>
    <%= character.description %>
    <%= link_to "en savoir plus", character_path(character) %>
<% end %>

<!-- <div class="toggle">
  <input type="checkbox" name="switch" id="switch">
  <label class="label" for="switch"> <%= @category %> </label>
</div> -->

<!-- link_to characters path la même page mais avec l'autre catégorie parametres categorie=
 -->
