<!-- <h1>characters#index</h1> -->
<div class="container">
  <h2>Start by choosing your favorite <%= @category %>_</h2>
</div>

<div class="container">
  <% @characters.each do |character| %>
    <div class="col-sm-3 d-flex flex-column">
      <div class="card py-5" style="width: 18rem;">
        <% if File.file? "#{Rails.root}/app/assets/images/#{character.photo_url}.jpg" %>
          <%= image_tag ("#{character.photo_url}.jpg"), id: 'img' %>
        <% elsif File.file? "#{Rails.root}/app/assets/images/#{character.photo_url}.png" %>
           <%= image_tag ("#{character.photo_url}.png"), id: 'img' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= character.name %> </h5>
         <%= link_to "en savoir plus", character_path(character), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- fixed ascii image
 -->

<% if @category == "Rick" %>
  <div class="fixed-img">
    <%= image_tag ("rick.svg")%>
  </div>
<% else %>
  <div class="fixed-img">
    <%= image_tag ("morty.svg")%>
  </div>
<% end %>




<!-- <div class="toggle">
  <input type="checkbox" name="switch" id="switch">
  <label class="label" for="switch"> <%= @category %> </label>
</div> -->

<!-- link_to characters path la même page mais avec l'autre catégorie parametres categorie=
 -->
<!-- <img src="..." class="card-img-top" alt="..." >
 -->
